# Set default behavior, in case users don't have core.autocrlf set.
* text=auto
# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.md text diff=markdown
*.json.br filter=lfs diff=lfs merge=lfs -textminer
new
come 
354
445
12575
text1875
tbio


